.course-general-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  font-family: "PoppinsSemiBold";
  .close-dialog {
    display: flex;
    justify-content: right;
    padding: 1em;
    border: none;
    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .course-image {
    img {
      width: 100%;
    }
  }
  .text-content {
    padding: 5%;
    font-size: 1.2em;
    h3 {
      font-family: "PoppinsBlack";
      font-size: 1.2em;
    }
  }
  .btn-subscription {
    text-align: center;
    button {
      font-family: "PoppinsBlack";
      font-size: 1.4em;
      padding: 2% 5%;
      margin-bottom: 10%;
      border-radius: 20px;
      border: 1px solid #2755a2;
      background-color: #2755a2;
      color: white;
      cursor: pointer;
    }
    button:hover {
      background-color: #667ca3;
    }
    button:active {
      background-color: #0a42a4;
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .course-general-container {
    .course-image {
      img {
        width: 35em;
      }
    }
    .text-content {
      font-size: 1.3em;
      h3 {
        font-size: 1.3em;
      }
    }
    .btn-subscription {
      button {
        border-radius: 20px;
        background-color: #2755a2;
        color: white;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 64em) {
  .course-general-container {
    .course-image {
      img {
        width: 35em;
      }
    }
    .text-content {
      padding: 5%;
      font-size: 1.2em;
      h3 {
        font-family: "PoppinsBlack";
        font-size: 1.2em;
      }
    }
  }
}
