<div class="general-banner">
  <div class="banner-title">
    <h1>Cursos de salud</h1>
    <p>40 horas</p>
  </div>
  <div class="banner-img">
    <img src="../../../../../assets/images/img-banner-one.svg" alt="Salud" />
  </div>
</div>

<div class="mision">
  <div class="mision-img">
    <img src="../../../../../assets/images/mision-img.svg" alt="Mision" />
  </div>
  <div class="mision-info">
    <h1>Misión</h1>
    <p>
      Somos un centro Especializado de Formación en Salud comprometidos con la
      formación y capacitación integral y pertinente de los profesionales de la
      salud y de todos los colombianos, mediante cursos virtuales, atendiendo
      las necesidades actuales del sector salud, que promuevan su desarrollo a
      nivel local, regional y nacional.
    </p>
  </div>
</div>

<div class="mision vision">
  <div class="mision-img vision-img">
    <img src="../../../../../assets/images/vision-img.svg" alt="Vision" />
  </div>
  <div class="vision-info mision-info">
    <h1>Visión</h1>
    <p>
      En el año 2028 ser reconocidos como la plataforma educativa para
      profesionales del sector Salud, producto de una formación pertinente y de
      calidad impartida a nuestros educandos, así como del trabajo mancomunado
      con el sector y demás partes interesadas pertinentes.
    </p>
  </div>
</div>
